# Google OAuth2 opcional
GOOGLE_OAUTH_ENABLED=false
FRONTEND_URL=http://localhost:4200
DEMO_ADMIN_EMAIL=
DEMO_ADMIN_PASSWORD=
DEMO_CUSTOMER_EMAIL=
DEMO_CUSTOMER_PASSWORD=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
